# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# виртуальные окружения
venv/
.venv/
env/

storage/secure_files

# секреты
.env

# временные артефакты конвертации
conv_*/
in_*/
lo_profile_*/
*.log
